<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lti_topic.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @lti_topic.topic_id %>
</p>

<p>
  <b>Url:</b>
  <%= @lti_topic.url %>
</p>

<p>
  <b>Key:</b>
  <%= @lti_topic.key %>
</p>

<p>
  <b>Secret:</b>
  <%= @lti_topic.secret %>
</p>

<p>
  <b>User:</b>
  <%= @lti_topic.user_id %>
</p>

<p>
  <b>Xml snippet:</b>
  <%= @lti_topic.xml_snippet %>
</p>

<!--
<%= link_to 'Edit', edit_lti_topic_path(@lti_topic) %> |
<%= link_to 'Back', lti_topics_path %>
-->